<div class='container px-12 px-sm-0'>
  <div class='row'>
    <h2>Follow Users</h2>
    <% if @users.exists? %>
      <table class='table'>
        <%= render '/users/index', users: @users %>
      </table>
    <% else %>
      <div>ユーザーはいません</div>
    <% end %>
  </div>
</div>